<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	
	<bean id="employee" class="com.taufeeque.springCoreProblemStatement3.Employee">
		<property name="empId" value="46" />
		<property name="empName" value="Md Taufeeque Alam" />
		<property name="age" value="22" />
		<property name="salary" value="77000"></property>
	</bean>
	

</beans>