<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<!--Autowire ByName-->
	<bean id="bankByName"
		class="com.taufeeque.springCoreProblemStatement8.BankByName"
		autowire="byName">
		<property name="bankName" value="HDFC Bank" />
	</bean>

	<!--Bean For Address Class-->
	<bean id="address" class="com.taufeeque.springCoreProblemStatement8.Address">
		<property name="city" value="Hyderabad" />
		<property name="state" value="Telangana" />
	</bean>

	<!--Autowire ByType-->
	<bean id="bankbyType"
		class="com.taufeeque.springCoreProblemStatement8.BankByType"
		autowire="byType">
		<property name="bankName" value="SBI" />
		<property name="address" ref="address " />
	</bean>

	<!--Autowire ByConstructor-->
	<bean id="bankByConstructor"
		class="com.taufeeque.springCoreProblemStatement8.BankByConstructor">
		<constructor-arg name="bankName" value="Telangana National Bank" />
	</bean>


</beans>